.main-page{
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  gap: 50px;
}

.input-box{
  width: 10vw;
  height: 40px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  padding: 10px;
  margin-right: 5px;
}

.input-box:focus {
  outline: none;
}

.button{
  padding: 10px;
  border-radius: 5px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.button:active {
  background-color: #3e8e41;
  transform: scale(0.98);
}
